@using EntityLayer.Concrete
@model List<Comment>
@{
    
    var comment = new EntityLayer.Concrete.Comment();
}
        @foreach (var item in Model)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="@item.Image" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@item.Username</h3>
                    <div class="meta">@item.CommentDate.ToString("dd-MMM-yyy")</div>
                    <p>@item.CommentText</p>
                    
                </div>
            </li>
        }


    <!-- END comment-list -->
@Html.Partial("~/Views/Blog/LeaveCommentt.cshtml", comment)